build/
*.o
*.a
*.so
*.dll
*.exe
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
*.vcxproj.user
.vs/
test_identity_keydir/
test_server_keydir/
test_gossip_keydir/
test_wsclient_keydir/
